
.container {
  margin-top: 20px;
}

.listItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.primaryText {
  font-weight: bold;
}

.secondaryText {
  color: #666;
}
